/* =========================================================
   RESPONSIVE
   ========================================================= */

main {
    max-width: 100%;
}


img,
video,
iframe {
    max-width: 100%;
    height: auto;
}


/* =========================================================
   TABLET
   ========================================================= */

@media (min-width: 701px) {

    main {
        width: 100%;
    }
}


/* =========================================================
   DESKTOP
   ========================================================= */

@media (min-width: 1101px) {

    main {
        width: 100%;
    }
}