/* =========================================================
   PAGE CONTENT
   ========================================================= */

.page-text {
    margin: 16px 10px;

    color: gold;

    font-family: Arial, sans-serif;

    font-size: 20px;

    line-height: 1.4;

    text-transform: uppercase;
}


/* =========================================================
   MAIN
   ========================================================= */

main {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    padding: 0 10px;
}